<div class="banner text-center d-flex align-items-center justify-content-center"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('camping04.jpg') %>'); height: 400px;">
  <div class="container">
    <h1 class="text-white fw-bold">Camping Made Easy, Adventures Made Unforgettable</h1>
    <p class="text-white" style="margin-bottom: 30px;">Gear Up, Get Out, Explore More</p>
    <a href="/equipments" class="btn btn-flat btn-primary">Book Now</a>
  </div>
</div>

<div class="container text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <h1 class="mb-4">About Me</h1>
  <p class="lead" style="margin-bottom: 50px">
    CampingLife is a premium camping gear rental service designed for adventurers who seek the beauty of nature without the hassle of owning and maintaining expensive equipment. Our mission is to make outdoor experiences more accessible, sustainable, and enjoyable for everyone, whether you're a seasoned camper or a first-time explorer.
  </p>

  <div class="d-flex justify-content-center">
    <%= image_tag asset_path('camping01.jpg'), class: "img-fluid rounded shadow", width: "700", height: "500", alt: "Camping Adventure" %>
  </div>

  <h1 class="mt-5 mb-4">Our Services</h1>
  <p class="lead">
    At CampingLife, we offer a wide range of high-quality camping gear, including tents, sleeping bags, cooking equipment, and outdoor essentials. Our rental packages are tailored to different adventure levels, from solo backpacking trips to family-friendly camping getaways. We ensure that all equipment is well-maintained, sanitized, and ready for use, so you can focus on what truly matters—creating unforgettable memories in the great outdoors.
  </p>
</div>

<footer class="text-center text-white" style="background-color: #F2541B;">
  <div class="container p-4">
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="ratio ratio-16x9">
            <iframe class="shadow-1-strong rounded"
                    src="https://www.youtube.com/embed/ETORWgahumI"
                    title="YouTube video"
                    allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: #000000;">
    © 2025 Copyright:
    <a class="text-white" href="https://campinglife.com/">Campinglife.com</a>
  </div>
</footer>
